# Discord Bot Credentials
DISCORD_TOKEN=your_discord_bot_token_here

# The Discord Text Channel ID where the bot should send the wake-up button interface.
DISCORD_CHANNEL_ID=your_channel_id_here

# Target Machine configuration
TARGET_MAC=00:11:22:33:44:55
BROADCAST_IP=255.255.255.255
WOL_PORT=9

